@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width:100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLE */
:root {
    /* FONTS */
    --FF: 'Roboto', sans-serif;
    --FF-HEADINGS: "Fugaz one", cursive;
    --FS: clamp(1rem, 2.2vw, 1.5rem);

    /* COLORS */
    --BGCOLOR-FADE:rgb(47, 31, 2);
    --BGCOLOR:orange;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --BORDER-COLOR:#333;
    --FONT-COLOR: #000;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR:#fff;
    --HERO-BGCOLOR: rgb(47, 31, 2, 0.75);
    --HERO-COLOR: #fff;
    --HIGHLIGHT-COLOR:orange;
    --LINK-ACTIVE:orange;
    --LINK-COLOR: #000;
    --LINK-HOVER: rgba(121, 117, 117, 0.179);
    --NAV-BGCOLOR:#fff;



    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* STANDARD PADDING*/
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN*/
    --MARGIN: clamp(1.em, 2.5vh, 1.5em) 0;

}

/* ||UTILITY CLASSES */
.offscreen {
    position:absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* ||GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
    color: var(--FONT-COLOR);
    margin:0 auto;
    max-width:800px;
    min-height:100vh;
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1rem;
    color: var(--HIGHLIGHT-COLOR)
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,a:focus {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* ||HEADING */
.header {
    position:sticky;
    top:0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB), var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight:bold;
    box-shadow: 0 2px 2px var(--BORDER-COLOR);;
}

.header__ul {
    padding: 0.25em 2.5%;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* ||HERO */
.hero {
    position: relative;
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.30em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation:showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    60% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.5);
    }
    100% {
        top:20px;
        transform: skew(-10deg, -5deg) scaleY(1);
    }
}

/* ||FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TB),var(--PADDING-SIDE); 
}

/* ||MAIN */

.main {
    padding: 1rem 0.5rem; 
}

.main__article {
    scroll-margin-top: 7rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1rem;
}

.main__article:last-child {
    margin-top: 1rem;
}

/* ||CONTACT */

.contact__h2 {
    margin:0;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin:1em 0;
}

.contact__label {
   display:block;
   font-weight:lighter;
}

.contact__input,
.contact__textarea {
    padding: 0.5em;
    border-radius: 10px;
    width: 100%;
    border-width:2px;
}

.contact__button {
    padding: 0.5em;
    border-radius:10px;
    background-color: var(--BGCOLOR);
    color:var(--HEADER-BGCOLOR);
}

/* || MENU */

thead, tbody, tfoot, tr {
    display:contents;
} 

.course__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.course__header,
.course__item {
    width: 100%;
    padding: 1em;
    border: medium ridge;
}

.course__item {
    display: grid;
    place-content: center;
}

@media screen and (max-width:576px) {
    .header__h1 {
        background-color:orange;
    }
    
}
@media screen and (max-width:920px) {
    .footer {
        background-color: dimgrey;

    }
}