@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* || RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width:100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLE */
:root {
    /* FONTS */
    --FF: 'Roboto', sans-serif;
    --FF-HEADINGS: "Fugaz one", cursive;
    --FS: clamp(1rem, 2.2vw, 1.5rem);

    /* COLORS */
    --BGCOLOR:aliceblue;
    --BGCOLOR-FADE:rgb(195, 195, 240);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR:#333;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);
}

/* ||UTILITY CLASSES */
.offscreen {
    position:absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* ||GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height:100vh;
    max-width:800px;
    margin:0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

